<!-- navbar mit tabs von bootstrap -->

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#/home">Home</a></li>
  <li role="presentation"><a href="#/thbandconfig">Die Band Config</a></li>
  <li role="presentation"><a href="#">Music Config</a></li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
		<li>sasdasda</li>
		<li>sa3sdas33da</li>
		<li>2</li>
    </ul>
  </li>
</ul>