

<nav class="navbar" ng-controller="menuController as menuctrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">		
			
			<!-- http://jsfiddle.net/b7whs/67/ -->
			
			<div class="navbar-inner">	
				<ul class="nav nav-pills head-menu menu1 menu1width">
					<li ng-repeat="men in menuctrl.menuitems">
						<a href="{{men.link}}">{{men.showName}}</a>
					</li>
				</ul>
								
				<ul class="nav nav-center">
					<a class="navbar-brand navbar-inner" href="{{menuctrl.banner.link}}"> <img alt="Brand" id="banner" src="{{menuctrl.banner.imgTitle}}" title="{{menuctrl.banner.hint}}"> </a>
				</ul>
				
		        <ul class="nav pull-right">
		            <li><a>Right</a></li>
		        </ul>
			</div>
		</div>
</nav>

