<div class="panel">
	<h1>Kontakt</h1>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">@</span>
	  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
	</div>
	
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
	  <span class="input-group-addon" id="basic-addon2">@example.com</span>
	</div>
	
	<div class="input-group">
	  <span class="input-group-addon">$</span>
	  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
	  <span class="input-group-addon">.00</span>
	</div>
	
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <span class="input-group-addon">
	        <input type="checkbox" aria-label="...">
	      </span>
	      <input type="text" class="form-control" aria-label="...">
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	  <div class="col-lg-6">
	    <div class="input-group">
	      <span class="input-group-addon">
	        <input type="radio" aria-label="...">
	      </span>
	      <input type="text" class="form-control" aria-label="...">
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
</div>

<!-- kopiert von thespore.net -->
<div class="contact">
				<div class="page-header">
			<h2>
								<span class="contact-name">The Spore Support</span>
			</h2>
		</div>
				
						
 		
					<h3>Kontakt</h3>	
			<div class="thumbnail pull-right">
			<img src="/images/Spore/Logo The spore-250x132.png" alt="Kontaktbild" align="middle">		</div>
	
	
	<dl class="contact-address dl-horizontal">
	

</dl>

	
		
	
									<h3>Kontaktformular</h3>		
		
<div class="contact-form">
	<form id="contact-form" action="/index.php/contact-footer" method="post" class="form-validate form-horizontal">
		<fieldset>
			<legend>Eine E-Mail senden. Alle mit * markierten Felder werden benötigt.</legend>
			<div class="control-group">
				<div class="control-label"><label id="jform_contact_name-lbl" for="jform_contact_name" class="hasTooltip required" title="" data-original-title="<strong>Name</strong><br />Der Name">Name<span class="star">&nbsp;*</span></label></div>
				<div class="controls"><input type="text" name="jform[contact_name]" id="jform_contact_name" value="" class="required" size="30" required="required" aria-required="true"></div>
			</div>
			<div class="control-group">
				<div class="control-label"><label id="jform_contact_email-lbl" for="jform_contact_email" class="hasTooltip required" title="" data-original-title="<strong>E-Mail</strong><br />E-Mail für Kontakt">E-Mail<span class="star">&nbsp;*</span></label></div>
				<div class="controls"><input type="text" name="jform[contact_email]" class=" required" id="jform_contact_email" value="" size="30" required="required" aria-required="true"></div>
			</div>
			<div class="control-group">
				<div class="control-label"><label id="jform_contact_emailmsg-lbl" for="jform_contact_emailmsg" class="hasTooltip required" title="" data-original-title="<strong>Betreff</strong><br />Einen Betreff für die E-Mail eingeben.">Betreff<span class="star">&nbsp;*</span></label></div>
				<div class="controls"><input type="text" name="jform[contact_subject]" id="jform_contact_emailmsg" value="" class="required" size="60" required="required" aria-required="true"></div>
			</div>
			<div class="control-group">
				<div class="control-label"><label id="jform_contact_message-lbl" for="jform_contact_message" class="hasTooltip required" title="" data-original-title="<strong>Nachricht</strong><br />Nachricht hier eingeben.">Nachricht<span class="star">&nbsp;*</span></label></div>
				<div class="controls"><textarea name="jform[contact_message]" id="jform_contact_message" cols="50" rows="10" class="required" required="required" aria-required="true"></textarea></div>
			</div>
							<div class="control-group">
					<div class="control-label"><label id="jform_contact_email_copy-lbl" for="jform_contact_email_copy" class="hasTooltip" title="" data-original-title="<strong>Eine Kopie dieser Mail erhalten</strong><br />Sendet eine Kopie der Nachricht an die angegebene Adresse Absenderadresse.">Eine Kopie dieser Mail erhalten</label></div>
					<div class="controls"><input type="checkbox" name="jform[contact_email_copy]" id="jform_contact_email_copy" value="1"></div>
				</div>
																																				<div class="control-group">
															<div class="controls">
																	</div>
													</div>
															<div class="form-actions"><button class="btn btn-primary validate" type="submit">E-Mail senden</button>
				<input type="hidden" name="option" value="com_contact">
				<input type="hidden" name="task" value="contact.submit">
				<input type="hidden" name="return" value="">
				<input type="hidden" name="id" value="2:support">
				<input type="hidden" name="669811d0ead1d03fd67719094df5e0df" value="1">			</div>
		</fieldset>
	</form>
</div>

					
	
	
	
	
	
									<h3>Weitere Informationen</h3>		
		<div class="contact-miscinfo">
			<dl class="dl-horizontal">
				<dt>
					<span class="jicons-icons">
					<img src="/media/contacts/images/con_info.png" alt="Weitere Informationen: ">					</span>
				</dt>
				<dd>
					<span class="contact-misc">
						<p>... Für Fragen rund um die Band: Booking etc..</p>					</span>
				</dd>
			</dl>
		</div>

				
	
		</div>