<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Shop</h1>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							Go!
						</button> </span>
					<input type="text" class="form-control" placeholder="Search for...">
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6"></div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
		<div class="panel">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active">
					<a href="#">Tshirs</a>
				</li>
				<li role="presentation">
					<a href="#">cd's</a>
				</li>
				<li role="presentation">
					<a href="#">merchendise</a>
				</li>
				<li role="presentation">
					<a href="#">tickets</a>
				</li>
			</ul>
		</div>
	</div>
</div>